h2 {
font-family: cursive;
}

/* Styling for countdown clock on Coming page */

#coming-block{
    font-family: cursive;
    font-size: 15px;
    justify-content: center;
    width: 600px;
    height: 500px;
    background: #dfdfdf;
    border-radius: 5%;
    border: 0px solid black;
}

#coming-countdown {
    padding-top: 50pxu u;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid black;
    width: 400px;
}

#coming-email-background {
    border: 2px solid blue;
    width: auto;
    height: auto;
    background: #FFFFFF;
    border-radius: 10%;
}

